<div>
    <div class="col-xs col-md col-lg">
        <div class="card mb-4 shadow-sm">
            <div class="card-body" style="min-height: 500px;">
                <h5 class="card-title" style="font-size: large;">Location of the Church</h5>
                <div class="d-flex justify-content-between align-items-center">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3579.7989748063205!2d27.876440715575203!3d-26.20321687029821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a0cc2d139105%3A0xaa7f1a853f538474!2sAFM%20Victory%20Fellowship%20Centre!5e0!3m2!1sen!2sza!4v1586676563365!5m2!1sen!2sza"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>