<div class="card mb-4 shadow-sm">
    <div class="card-body" style="min-height: 500px;">
        <h6 class="card-title" style="font-size: large;"><i>{{videoDate}}</i></h6>
        <h5 class="card-title" style="font-size: large;">{{videoTitle}} <b>[Video]</b></h5>
        <p class="card-text pt-2 font-weight-normal" style="min-height: 80px; max-height: 80px;">{{videoDescription}}
            <b>[Filesize: {{videoSize}}]</b></p>
        <iframe [src]='getVideoURL()' height="420"></iframe>

    </div>
</div>