<div class="row">
  <div class="col-xs col-md col-lg">
        <app-audio [audioDate]="'07 June 2020'" [audioTitle]="'What does God say about Racists'"
            [audioArt]="'../assets/lean.jpg'" [audioSrc]="'../assets/podcast20200607.mpeg'" [audioSize]="'11.7MB'"
            [audioDescription]="'Please join us as Pastor Kekana speaks to us about Racism though the gospel'">
        </app-audio>
    </div>
  
    <div class="col-xs col-md col-lg">
        <app-audio [audioDate]="'31 May 2020'" [audioTitle]="'Pentecost Sunday message'"
            [audioArt]="'../assets/lean.jpg'" [audioSrc]="'../assets/podcast20200531.mp4'" [audioSize]="'18.6MB'"
            [audioDescription]="'Please join us as Pastor Kekana speaks to us about Pentecost Sunday'">
        </app-audio>
    </div>

    <div class="col-xs col-md col-lg">
        <app-audio [audioDate]="'24 May 2020'" [audioTitle]="'Put your confidence in the Lord'"
            [audioArt]="'../assets/faith-in-action.jpg'" [audioSrc]="'../assets/podcast24052020.mp3'"
            [audioSize]="'9.19MB'"
            [audioDescription]="'Please join us as Pastor Kekana speaks to us during Covid times about keeping confidence in the Lord.'">
        </app-audio>
    </div>

    <div class="col-xs col-md col-lg">
        <app-audio [audioDate]="'17 May 2020'" [audioTitle]="'Get up and eat for the journey is too much for you'"
            [audioArt]="'../assets/lady-praise.jpg'" [audioSrc]="'../assets/podcast20200517.mp3'" [audioSize]="'11.5MB'"
            [audioDescription]="'Please join us as Elder Chauke delivers a message of encouragement titled Get up and eat for the journey is too much for you'">
        </app-audio>
    </div>

    <div class="col-xs col-md col-lg">
        <app-video [videoDate]="'10 May 2020'" [videoTitle]="'Keep Hope alive'" [videoSize]="'37.2MB'"
            [videoPoster]="'../assets/videocast2poster.webp'"
            [videoSrc]="'https://drive.google.com/file/d/1qb16MbQjjeM0XWwHyWC3DyeeHZwnpnJK/preview'"
            [videoType]="'video/mp4'"
            [videoDescription]="'Here is this weeks message. This time it is delivered via video from the pastor under the title: Keep hope alive.'">
        </app-video>
    </div>

    <div class="col-xs col-md col-lg">
        <app-audio [audioDate]="'03 May 2020'" [audioTitle]="'WHAT DOES COVID19 TEACH US?'"
            [audioArt]="'../assets/lady-praise.jpg'" [audioSrc]="'../assets/podcast20200503.mp3'" [audioSize]="'18.7MB'"
            [audioDescription]="'Please join us as our Pastor speaks to us and details Observations and lessons from COVID19 pandemic. Be sure to download the message and share it with everyone around you.'">
        </app-audio>

    </div>
    <div class="col-xs col-md col-lg">
        <app-slides [slidesDate]="'03 May 2020'" [slidesTitle]="'WHAT DOES COVID19 TEACH US?'"
            [slideSize]="imageSliderSize" [slideImages]="images20200503"></app-slides>
    </div>
</div>
