<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <img class="lazyload" alt="" src="../assets/logo.webp" width="36px" height="36px">
          <a [routerLink]="['/home']" style="color: white;">
            <span class="mdc-top-app-bar__title">AFM - VOC</span>
          </a>
          <span class="nav-spacer"></span>
          <a [routerLink]="['/about']" style="color: white;"><span style="width: 100%; height: 100%;" class="material-icons">
            info
            </span>Info</a>
      </section>
  </div>
</header>
<br/>
<br/>
<br/>

<div class="container">

  <section class="jumbotron text-center">
    <div class="container">
      <h1><b>AFM VOC</b> - Podcast central</h1>
      <p class="lead text-muted">To our neighbors with an open heart and open hands</p>
    </div>
  </section>

  <router-outlet></router-outlet>
</div>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#"><button mat-mini-fab color="primary">Top</button></a>
    </p>
    <a [routerLink]="['/about']">About VOC</a>
  </div>
</footer>