<div class="row">
    
    <div class="col-xs col-md col-lg">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title" style="font-size: large;">The Lord is with you [Audio]</h5>
                <img class="lazyload" alt="" mat-card-image src="../assets/podcast1.webp"
                    style="width: 100%; height: 300px;" />
                <p class="card-text pt-2 font-weight-normal" style="min-height: 80px; max-height: 80px;">Please find
                    below
                    the message for this week, 29th of March 2020. You can also download the message and send to
                    friends,
                    family and fellow believers and non-belivers. <b>[Filesize: 5.5MB]</b> </p>
                <br><br>
                <div class="d-flex justify-content-between align-items-center">
                    <figure class="btn-group">
                        <audio preload="none" style="max-width: 300px; min-width: 200px !important;" controls>
                            <source src="../assets/podcast20200329.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs col-md col-lg">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title" style="font-size: large;">Through the valley [Slides]</h5>
                <ng-image-slider [imageSize]="imageSliderSize" [images]="images20200323" #nav></ng-image-slider>
                <p class="card-text pt-2 font-weight-normal" style="min-height: 80px; max-height: 80px;">We have
                    compiled this weeks message into pictures. Please click on the pictures above to see today's message
                    in picture form.</p>
            </div>
        </div>
    </div>
    <div class="col-xs col-md col-lg">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title" style="font-size: large;">Welcome</h5>
                <img class="lazyload" alt="" mat-card-image src="../assets/podcast1.webp"
                    style="width: 100%; height: 300px;" />
                <p class="card-text pt-2 font-weight-normal" style="min-height: 80px; max-height: 80px;">Welcome to the
                    VOC
                    Podcast page. Please listen to a welcome message from our pastor below.<b>[Filesize: 75.6KB]</b></p>
                <br>
                <div style="max-width: 250px !important" class="d-flex justify-content-between align-items-center">
                    <figure class="btn-group">
                        <audio preload="none" controls>
                            <source src="../assets/welcome.ogg" type="audio/ogg">
                            Your browser does not support the audio element.
                        </audio>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>