<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h6 class="card-title" style="font-size: large;"><i>{{slidesDate}}</i></h6>
        <h5 class="card-title" style="font-size: large;">{{slidesTitle}} <b>[Slides]</b></h5>
        <ng-image-slider [imageSize]="slideSize" [images]="slideImages" #nav></ng-image-slider>
        <p class="card-text pt-2 font-weight-normal" style="min-height: 80px; max-height: 80px;">We have
            compiled this weeks message into pictures. Please click on the pictures above to see today's message
            in picture form.</p>
    </div>
</div>